body {
  font-family: "Public Sans", sans-serif;
}

.header-bar {
  background-color: #ba3131;
}

.container--narrow {
  max-width: auto;
}

.header-search-icon {
  position: relative;
  top: 3px;
}

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

.table-responsive {
  margin: 30px 0;
}

.table-wrapper {
  min-width: 1000px;
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  margin: -10px -40px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #292929;
}

.body-content p,
.body-content ul,
.body-content ol {
  margin-bottom: 1.75rem;
}

@media (min-width: 768px) {
  .input-dark {
    width: auto;
  }
}

.display-3 {
  font-size: 4.2rem;
}

@media (max-width: 1199px) {
  .display-3 {
    font-size: 3.4rem;
  }
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 2.5rem;
  }
}

.form-group {
  position: relative;
}

.liveValidateMessage {
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-enter {
  opacity: 0;
  transform: translateY(100%);
}

.liveValidateMessage-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.liveValidateMessage-exit {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

textarea.tall-textarea {
  height: 160px;
}

@media (min-width: 768px) {
  textarea.tall-textarea {
    height: 320px;
  }
}

#login,
#changeemail,
#changepw,
#create-application {
  display: flex;
  justify-content: center;
}

.whoIsWatching {
  width: 100vw;
  min-height: 100vh;
  margin: -16px;
  background-color: #141414;
}

.main-div {
  width: auto;
  height: auto;
  /* background-color: rosybrown; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.main-div h1 {
  font-size: 6.5rem;
  letter-spacing: 0.2rem;
  font-size: 400;
}

.memberDiv .btn,
.addIcon {
  height: 10vw;
  min-height: 8.4rem;
  max-height: 20rem;
  width: 10vw;
  min-width: 8.4px;
  max-width: 20rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-top: 4rem;
  margin-right: 3.5rem;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.memberDiv {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.action_UGbtn {
  width: auto;
}

.UGbutton {
  width: auto;
}

#create-application-button {
  margin-left: 30px;
  padding-top: 10px;
}

#create-application-button button {
  background-color: #fa6400;
  min-height: 3rem;
}

.application-container {
  width: 100vw;
  min-height: 100vh;
  margin: -16px;
  background-color: #141414;
}

#my-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.card-app {
  position: relative;
  width: 280px;
  min-height: 250px;
  margin: 20px 0;
  cursor: pointer;
  transition: 1s ease;
  /* horizontal length, vertical length, Blur radius, spread, color */
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.card-app:hover {
  transform: scale(1.1);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: 0.2rem;
}

.card-header:first-child {
  border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;
}

.card-header {
  border-bottom-width: 1px;
}

.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.025);
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-bottom: 1px solid #e5e9f2;
}

.card-border-primary {
  border-top: 4px solid #2979ff;
}

.card-border-secondary {
  border-top: 4px solid #efefef;
}

.card-border-success {
  border-top: 4px solid #00c853;
}

.card-border-info {
  border-top: 4px solid #3d5afe;
}

.card-border-warning {
  border-top: 4px solid #ff9100;
}

.card-border-danger {
  border-top: 4px solid #ff1744;
}

.card-border-light {
  border-top: 4px solid #f8f9fa;
}

.card-border-dark {
  border-top: 4px solid #6c757d;
}

.card-header {
  border-bottom-width: 1px;
}

.card-title {
  font-weight: 500;
  margin-top: 0.1rem;
}

.flex-container {
  display: flex;
}

.testcontainer {
  max-width: 920px;
}

.leftinnerbodyplan {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 700px;
}

.rightinnerbodytask {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 700px;
}

.card-right-title {
  text-align: right;
}

.note-box {
  position: relative;
  height: 400px;
  width: 500px;
  box-sizing: border-box;
  border-style: solid;
}
